정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

In [5]:
def solution(n):
    answer = 0
    for i in range(n+1):
        if i % 2 == 0:
            answer += i
        else:
            pass
    return answer

In [6]:
solution(10)

30

정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 평균값을 return하도록 solution 함수를 완성해주세요.

In [13]:
def solution(numbers):
    sumnum = 0
    for i in numbers:
        sumnum += i
    answer = sumnum/len(numbers)
    return answer

In [14]:
solution([1,2,3,4,5])

3.0

문자열 배열 strlist가 매개변수로 주어집니다. strlist 각 원소의 길이를 담은 배열을 retrun하도록 solution 함수를 완성해주세요.

In [19]:
def solution(strlist):
    answer = []
    for i in strlist:
        answer.append(len(i))
    return answer

In [20]:
solution(["We", "are", "the", "world!"])

[2, 3, 3, 6]

머쓱이는 학교에서 키 순으로 줄을 설 때 몇 번째로 서야 하는지 궁금해졌습니다. 머쓱이네 반 친구들의 키가 담긴 정수 배열 array와 머쓱이의 키 height가 매개변수로 주어질 때, 머쓱이보다 키 큰 사람 수를 return 하도록 solution 함수를 완성해보세요.

In [31]:
def solution(array, height):
    count = 0
    for i in array:
        if height < i:
            count += 1
        else:
            pass
    return count

In [32]:
solution([149, 180, 192, 170], 190)

1

어떤 세균은 1시간에 두배만큼 증식한다고 합니다. 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.

In [23]:
def solution(n, t):
    for i in range(1, t+1):
        answer = n * (2 ** t)
    return answer

In [8]:
n * 2
n * 4
n * 8

4

In [22]:
a = 0
n = 2
t = 10
for i in range(1, t+1):
    a = n * (2 ** t)
a

2048

In [25]:
solution(7, 15)

229376

정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.

In [28]:
def solution(num_list):
    answer = num_list[::-1]
    return answer

In [29]:
num_list = [1,2,3,4,5]

In [30]:
solution(num_list)

[5, 4, 3, 2, 1]

사분면은 한 평면을 x축과 y축을 기준으로 나눈 네 부분입니다. 사분면은 아래와 같이 1부터 4까지 번호를매깁니다.

In [31]:
def solution(dot):
    if (dot[0] > 0 and dot[1] > 0):
        answer = 1
    elif (dot[0] < 0 and dot[1] > 0):
        answer = 2
    elif (dot[0] <0 and dot[1] < 0):
        answer = 3
    else:
        answer = 4
    return answer

In [35]:
dot = [1, -2]
solution(dot)

4

머쓱이는 할머니께 생신 축하 편지를 쓰려고 합니다. 할머니가 보시기 편하도록 글자 한 자 한 자를 가로 2cm 크기로 적으려고 하며, 편지를 가로로만 적을 때, 축하 문구 message를 적기 위해 필요한 편지지의 최소 가로길이를 return 하도록 solution 함수를 완성해주세요.

In [38]:
def solution(message):
    answer = len(message) * 2
    return answer

In [40]:
message = "I love you~"
solution(message)

22

정수가 담긴 배열 array와 정수 n이 매개변수로 주어질 때, array에 n이 몇 개 있는 지를 return 하도록 solution 함수를 완성해보세요.

In [41]:
import numpy as np

In [42]:
array = np.array([1, 1, 2, 3, 4, 5])

In [51]:
unique, counts = np.unique(array, return_counts=True)

In [53]:
unique, counts

(array([1, 2, 3, 4, 5]), array([2, 1, 1, 1, 1], dtype=int64))

In [59]:
np.asarray((unique, counts)).T

array([[1, 2],
       [2, 1],
       [3, 1],
       [4, 1],
       [5, 1]], dtype=int64)

In [57]:
def solution(array, n):
    array = np.array(array)
    unique, counts = np.unique(array, return_counts=True)
    result = np.asarray((unique, counts)).T
    answer = result[n]
    return answer

In [58]:
solution(array, 1)

array([2, 1], dtype=int64)

In [74]:
array = [1,1,2,3,4]

In [71]:
list.count(1)

2

In [75]:
def solution(array, n):
    answer = array.count(n)
    return answer

In [76]:
solution(array, 1)

2

머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

In [92]:
def solution(n, k):
    bonus = 0
    answer = 12000 * n + 2000 * k
    for i in range(n):
        bonus = n // 10
        answer = 12000 * n + 2000 * k - 2000 * bonus
    return answer

In [93]:
solution(64, 6)

768000

In [91]:
n = 20
for i in range(n):
    bonus = n // 10
bonus

2