# 숫자 자료형

### 정수형

In [7]:
a = 123
a = -178
a = 0

### 실수형

In [8]:
a = 1.2
a = -3.45

a = 4.24E10
a = 4.24e-10

### 8진수와 16진수

In [9]:
# 8진수
a = 0o177
print(a)

# 16진수
a = 0x8ff
b = 0xABC
print(b)

127
2748

## 숫자형 활용 연산자

### 사칙 연산

In [11]:
a = 3
b = 4
a + b

7

In [12]:
a - b

-1

In [13]:
a * b

12

In [14]:
a / b

0.75

### ** 연산자

In [15]:
a = 3
b = 4
a ** b

81

### % 연산자(나머지)

홀수, 짝수 계산  
그래프 시각화

In [16]:
7 % 3

1

In [17]:
3 % 7

3

### // 연산자(몫)

In [18]:
7 / 4

1.75

In [19]:
7 // 4

1

# 문자열 자료형

In [20]:
"Hello World"

'Hello World'

In [21]:
Hello World

SyntaxError: invalid syntax (961555472.py, line 1)

In [22]:
'Hello World'

'Hello World'

In [23]:
"""Hello World"""

'Hello World'

In [24]:
'''Hello World'''

'Hello World'

### 문자열에 작은따옴표 포함

In [25]:
food = "Python's favorite food is perl"

In [26]:
food

"Python's favorite food is perl"

### 문자열에 큰따옴표 포함

In [27]:
say = '"Python is very easy." he says.'

In [28]:
say

'"Python is very easy." he says.'

### 역슬래시 사용

In [29]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [30]:
food, say

("Python's favorite food is perl", '"Python is very easy." he says.')

In [40]:
"\"I cheer up to only Jeong-ah.\" her fans say."

'"I cheer up to only Jeong-ah." her fans say.'

## 여러 줄 문자열 변수 대입

### \m 삽입

In [41]:
'Life is too short
You need python'

SyntaxError: unterminated string literal (detected at line 1) (968553499.py, line 1)

In [2]:
multiline = 'Life is too short\nYou need python'

In [3]:
multiline # IDE가 제공하는 편의 기능

'Life is too short\nYou need python'

In [4]:
print(multiline)

Life is too short
You need python

### 연속된 따옴표 3개

In [6]:
multiline='''
Life is too short
You need python
'''

In [7]:
multiline

'\nLife is too short\nYou need python\n'

In [8]:
print(multiline)

Life is too short
You need python

## 문자열 연산하기

In [9]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [10]:
head * 5

'PythonPythonPythonPythonPython'

In [11]:
print("="*50)

==================================================

## 문자열 길이 구하기

In [12]:
a = "Life is too short"
len(a) # 공백 포함

17

## 문자열 인덱싱과 슬라이싱

### 문자열 인덱싱

In [13]:
a = "Life is too short, You need Python"

![img](https://wikidocs.net/images/page/13/02_2_indexing.png)

In [14]:
a[3]

'e'

In [15]:
a[12]

's'

In [16]:
a[-1]

'n'

In [17]:
a[-2]

'o'

In [18]:
len(a)

34

### 문자열 슬라이싱

In [19]:
a[0] + a[1] + a[2] + a[3]

'Life'

In [22]:
a[:4] # 0 <= a < 4 # end + 1 # 실제 추출하고 싶은 인덱스까지 + 1

'Life'

In [25]:
a[8:17]

'too short'

In [26]:
a[19:]

'You need Python'

In [31]:
a[19:-7]

'You need'

### 슬라이싱으로 문자열 나누기

In [32]:
a = "20240228Cloud"

In [33]:
date = a[:8]

In [34]:
weather = a[8:]

In [35]:
date

'20240228'

In [36]:
weather

'Cloud'

In [37]:
year = a[:4]

In [38]:
year

'2024'

In [39]:
month = a[4:6]

In [40]:
month

'02'

In [41]:
day = a[6:8]

In [42]:
day

'28'

In [43]:
print(year, month, day)

2024 02 28

### 문자열 수정하기

In [44]:
a = "Pithon"
a[1] = "y"
a # 문자열 str 원본 변경 불가 immutable

TypeError: 'str' object does not support item assignment

In [45]:
a = "Pithon"
a[:1] + "y" + a[2:]

'Python'

In [47]:
a = 'Only Park jeongah'
b = a[0:4]
c = a[5:9]
d = a[10:]
print(b + c + d)

OnlyParkjeongah

## 문자열 포매팅

In [49]:
"I eat %d apples."%3

'I eat 3 apples.'

In [50]:
"I eat %s apples."%"five"

'I eat five apples.'

In [51]:
"I eat %d apples."%"5"

TypeError: %d format: a real number is required, not str

In [52]:
number = 3
"I eat %d apples."%number

'I eat 3 apples.'

In [53]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days."%(number, day)

'I ate 10 apples. so I was sick for three days.'

In [54]:
"I ate %d apples. so I was sick for %s days."%(day, number)

TypeError: %d format: a real number is required, not str

In [55]:
"I eat %s apples."%2 # 문자열은 문자, 숫자를 포함할 수 있다

'I eat 2 apples.'

In [56]:
'rate is %d%.'%98

ValueError: incomplete format

In [58]:
'rate is %d%%.'%98

'rate is 98%.'

In [59]:
'rate is %s%.'%2

ValueError: incomplete format

In [60]:
'rate is %s%%.'%2

'rate is 2%.'

## 포맷 코드와 숫자 사용

### 정렬과 공백

In [61]:
"%10s"%"hi"

'        hi'

In [62]:
"%-10sjane."%"hi"

'hi        jane.'

### 소수점 표현

In [63]:
"%0.4f"%3.4242424

'3.4242'

In [65]:
"%10.4f"%3.43424342

'    3.4342'

## format 함수

In [69]:
"I eat {0} apples.".format(3)

'I eat 3 apples.'

In [70]:
"I eat {} apples.".format(2)

'I eat 2 apples.'

In [73]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [74]:
"I ate {0} apples. so I was sick for {1} days.".format(day, number)
# 자료형 지정 안 해서 위치가 바뀌어도 됨

'I ate three apples. so I was sick for 10 days.'

In [75]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [76]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 소수점 표현하기

In [77]:
y = 3.414131323

In [78]:
"{0:0.4f}".format(y)

'3.4141'

## f 문자열 포매팅

강추! 이거 써라

In [80]:
name = '박정아'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 박정아입니다. 나이는 30입니다.'

In [83]:
f'나는 내년이면 {age + 1}살이 됩니다.'

'나는 내년이면 31살이 됩니다.'

In [87]:
d = {'name':'박정아', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 박정아입니다. 나이는 30입니다.'

## 문자열 관련 함수

### count

In [86]:
a = 'hobby'
a.count('b')

2

### find

In [96]:
a = "Python is the best choice"

In [97]:
a.find('b')

14

In [99]:
a.find('k') # 존재하지 않는 문자열은 -1 반환 -> 계속 동작

-1

In [98]:
a.find('t') # 맨처음으로 나온 위치 반환

2

### index

In [100]:
a = "Life is too short"

In [102]:
a.index('t') # 맨 처음으로 나온 위치 반환

8

In [103]:
a.index('k') # 존재하지 않는 문자열은 에러

ValueError: substring not found

### join

문자열, 리스트, 튜플 입력 사용 가능

In [104]:
",".join('abcd')

'a,b,c,d'

### upper

In [105]:
a = 'hi'
a.upper()

'HI'

In [107]:
'hi'.upper()

'HI'

In [109]:
a.upper?

In [110]:
print?

In [111]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### lower

In [112]:
a = 'HI'
a.lower()

'hi'

### lstrip

In [113]:
a = " hi "
a.lstrip()

'hi '

### rstrip

In [114]:
a.rstrip()

' hi'

### strip

In [115]:
a.strip()

'hi'

### replace

In [116]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [117]:
a.replace?

### split

In [118]:
a.split() # 기본값 공백

['Life', 'is', 'too', 'short']

In [119]:
a.split?

In [121]:
b = 'a,b,c,d'
b.split(sep=",")

['a', 'b', 'c', 'd']

# 변수

변수는 메모리에 저장

In [122]:
a = 1
type(a)

int

In [123]:
b = 'Python'
type(b)

str

In [124]:
c = [1, 2, 3]
type(c)

list

In [126]:
id(a) # 변수가 가리키는 메모리의 주소

140719000359720

In [127]:
a = 2
id(a) # 변수를 덮어씌우면 새로운 메모리 주소

140719000359752

In [139]:
a = [1, 2, 3]
b = a
id(a), id(b) # 메모리 주소 같다

(2337547082176, 2337547082176)

In [140]:
a is b

True

In [141]:
b is a # 값이 같으니까 복제 안 하고 기존의 메모리 그대로 참조

True

In [134]:
del b

In [135]:
b

NameError: name 'b' is not defined

In [142]:
a[1] = 4

In [137]:
a

[1, 4, 3]

In [143]:
b

[1, 4, 3]

In [145]:
id(a), id(b)

(2337547082176, 2337547082176)

In [146]:
num1 = 10
num2 = num1

In [147]:
num1, num2

(10, 10)

In [148]:
num1 = 11
num1, num2

(11, 10)

## copy

In [149]:
from copy import copy

In [150]:
a = [1, 2, 3]
a

[1, 2, 3]

In [151]:
b = copy(a)
id(a), id(b)

(2337545977024, 2337545478464)

In [152]:
b is a

False

In [153]:
a is b

False

## 변수 만드는 방법

In [154]:
a, b = ('python', 'life')

In [155]:
a, b

('python', 'life')

In [156]:
a, b = b, a

In [158]:
a, b

('life', 'python')