# 파이썬 시작하기

[초보자를 위한 파이썬 300제](https://wikidocs.net/book/922 )

## 1~10

### 1~4. print 기초

In [1]:
# 화면에 Hello World 문자열을 출력하세요.
print('Hello World')

Hello World

In [2]:
# 화면에 Mary's cosmetics을 출력하세요.
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('C:\Windows')

C:\Windows

### 5. print 탭과 줄바꿈

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n: 줄바꿈
# \t: 탭

안녕하세요.
만나서		반갑습니다.

### 6. print 여러 데이터 출력

In [8]:
print ("오늘은", "일요일")
# 오늘은 일요일
# 내장함수 print의 기본 구분자는 공백이다.

오늘은 일요일

### 7~8. print 기초

In [17]:
print('naver;kakao;sk;samsung')
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [18]:
print('naver/kakao/sk/samsung')
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung
naver/kakao/sk/samsung

### 9. print 줄바꿈

In [14]:
print("first", end='');print("second")

firstsecond

### 10. 연산 결과 출력

In [15]:
5/3

1.6666666666666667

In [16]:
print(5/3)

1.6666666666666667

# 파이썬 변수

## 11~20

### 11~12. 변수 사용하기

In [2]:
삼성전자 = 50000

In [55]:
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [56]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 13. 문자열 출력

In [5]:
s = 'hello'
t = 'python'

In [57]:
print(s, '! ', t, sep='')

hello! python

In [59]:
print(s+'!', t)

hello! python

### 14. 파이썬을 이용한 값 계산

In [12]:
2 + 2 * 3
# 8

8

### 15. type 함수

In [13]:
a = 128

In [14]:
type(a)

int

In [15]:
print(type(a))

<class 'int'>

In [16]:
a = '132'
# class 'str'
type(a); print(type(a))

<class 'str'>

### 16. 문자열을 정수로 변환

In [31]:
num_str = '720'

In [32]:
int(num_str)

720

In [60]:
num_int = int(num_str)

In [62]:
print(num_int, type(num_int))

720 <class 'int'>

### 17. 정수를 문자열 100으로 변환

In [33]:
num = 100

In [35]:
str(num)

'100'

In [63]:
result = str(num)
print(result, type(result))

100 <class 'str'>

### 18. 문자열을 실수로 변환

In [37]:
float(15.79)

15.79

In [38]:
type(float(15.79))

float

In [66]:
data = '15.79'
data = float(data)
print(data, type(data))

15.79 <class 'float'>

### 19. 문자열을 정수로 변환

In [39]:
year = '2020'

In [49]:
a = int(year)

In [50]:
a + 1

2021

In [51]:
a + 2

2022

In [52]:
a + 3

2023

In [81]:
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

for i in range(1,4) :
    print(int(year)-i)

2017
2018
2019
2019
2018
2017

### 20. 파이썬 계산

In [53]:
에어컨 = 48584 * 36

In [54]:
에어컨

1749024

In [82]:
월금액 = 48584
개월수 = 36
총금액 = 월금액 * 개월수

In [83]:
print(총금액)

1749024